<div class="container">
 <div class="card block">
  <div class="grid grid--1x2">
   <blockquote class="quote">
     <h2>PROFESSIONAL</h2>
     <p>make-up artist and hair stylist</p>
     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel pariatur dolorum quia fuga, iusto praesentium. Ipsa accusamus pariatur at blanditiis.</p>
     <button class="btn btn--primary">
      READ MORE
     </button>
   </blockquote>
   <div class="makeup-image">
    <img src="images/makeup-kit1x.jpg" alt="">
   </div>
  </div>
 </div>
</div>