<section id="home_about_sec" class="content_section grey_bg ">
 <div class="content_section_inner grid grid--1x2">
 <div class="content_col_left columns">
  <img src="images/thabisile1x.jpg" alt="">
 </div>
 <div class="content_col_right columns ">
  <h1 class="text_center">MEET THABIE</h1>
  <div class="content_white_bg text_center">
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla neque earum dolorum tenetur exercitationem, aperiam, placeat, tempora nesciunt omnis recusandae nisi molestias odio quisquam! Minus soluta dolor modi neque assumenda impedit. Architecto ea est distinctio mollitia beatae nemo numquam dignissimos dolorem, unde optio impedit quos saepe minima illo vero! Accusantium error ipsam fugit culpa sapiente soluta voluptatem enim labore eaque.</p>
  </div>
 </div>
</div>
</section>